/bazel-*
/build/
/dist/
/pycoral/pybind/
/tflite_runtime/
/aiStudio/
fine_tune.py
fromGoogleVersion2.py
fromGoogleWebsite.py
generated_content.json
model_metadata.json
print_models.py
test_and_save_model.py

__pycache__
*.egg-info
*.tar.gz
.DS_Store
*.deb
*.buildinfo
*.changes

flaskGoogle3106
*flaskGoogle3106